<!-- ==================== Footer Two Start Here ==================== -->
<footer class="footer footer-two padding-y-120">
    <div class="container container-two">
        <div class="row gy-5">
            <div class="col-xl-4 col-lg-6">
                <div class="footer-item">
                    <div class="footer-item__logo">
                        <a href="index.html"> <img src="assets/images/logo/white-logo.png" alt=""></a>
                    </div>
                    <p class="footer-item__desc">It is a long established fact that a reader will be distracted</p>
                    
                    <h6 class="footer-item__title mt-4 mt-lg-5">Lets Work Together</h6>
                    <div class="row gy-4">
                        <div class="col-6">
                            <div class="contact-info d-flex gap-2">
                                <span class="contact-info__icon text-gradient"><i class="fas fa-map-marker-alt"></i></span>
                                <div class="contact-info__content">
                                    <span class="contact-info__text text-white">Address</span>
                                    <span class="contact-info__address text-white">66 Broklyant, New York India</span>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-6">
                             <div class="contact-info d-flex gap-2">
                                <span class="contact-info__icon text-gradient"><i class="fas fa-phone"></i></span>
                                <div class="contact-info__content">
                                    <span class="contact-info__text text-white">Phone Number</span>
                                    <span class="contact-info__address text-white">012 345 678 9101</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-1 d-xl-block d-none"></div>
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <h6 class="footer-item__title">Services</h6>
                    <ul class="footer-menu">
                        <li class="footer-menu__item"><a href="property.html" class="footer-menu__link">Reliable Rentals </a></li>
                        <li class="footer-menu__item"><a href="property.html" class="footer-menu__link">Golden Key Properties </a></li>
                        <li class="footer-menu__item"><a href="property.html" class="footer-menu__link">Swift Home Sales </a></li>
                        <li class="footer-menu__item"><a href="property.html" class="footer-menu__link">Elite Realty Services </a></li>
                        <li class="footer-menu__item"><a href="property.html" class="footer-menu__link">Dream Property Solutions </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-1 d-xl-block d-none"></div>
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <h6 class="footer-item__title">Our gallery</h6>
                    <p class="footer-item__desc">It is a long established fact that  reader will be Elite Property </p>

                    <form action="#" class="mt-4 subscribe-box">
                        <div class="input-group">
                            <input type="text" class="form-control common-input common-input--md text-white" placeholder="Your mail address">
                            <button type="submit" class="px-4 input-group-text bg--gradient border-0 text-white"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>

                    <ul class="social-list">
    <li class="social-list__item"><a href="https://www.facebook.com" class="social-list__link flx-center"><i class="fab fa-facebook-f"></i></a> </li>
    <li class="social-list__item"><a href="https://www.twitter.com" class="social-list__link flx-center"> <i class="fab fa-twitter"></i></a></li>
    <li class="social-list__item"><a href="https://www.linkedin.com" class="social-list__link flx-center"> <i class="fab fa-linkedin-in"></i></a></li>
    <li class="social-list__item"><a href="https://www.pinterest.com" class="social-list__link flx-center"> <i class="fab fa-instagram"></i></a></li>
</ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- bottom Footer -->
<div class="bottom-footer">
    <div class="container container-two">
        <div class="bottom-footer__inner flx-between gap-3">
            <p class="bottom-footer__text"> &copy; CityScape 2024 | All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#" class="footer-link">Terms & Condition</a>
                <a href="#" class="footer-link">Privacy Policy</a>
                <a href="contact.html" class="footer-link">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!-- ==================== Footer Two End Here ==================== -->