<section class="cta padding-b-120">
    <div class="container container-two">
        <div class="cta-box flx-between gap-2">
            <div class="cta-content">
                <h2 class="cta-content__title">Subscribe To Our <span class="text-gradient">Newsletter</span> </h2>
                <p class="cta-content__desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                <form action="#" class="cta-content__form d-flex align-items-center gap-2">
                    <div class="position-relative w-100">
                        <input type="text" class="common-input common-input--withLeftIcon w-100" placeholder="Enter Your Email Address">
                        <span class="input-icon input-icon--left text-gradient font-20 line-height-1"><i class="far fa-envelope"></i></span>
                    </div>
                    <button type="submit" class="btn btn-main text-uppercase flex-shrink-0"> Subscribe <span class="text">Now</span> </button>
                </form>
            </div>
            <div class="cta-content__thumb d-xl-block d-none">
                <img  src="{{ asset('assets/images/thumbs/cta-img.png') }}" alt="">
            </div>
        </div>
    </div>
</section>