{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 <!-- ====================== Banner Section Start ============================ -->
<section class="banner-video">
    <video src="https://player.vimeo.com/external/263582970.hd.mp4?s=06ac4b713c0d5bff5071a615862f22c3e34adbc0&profile_id=174" loop muted autoplay class="banner-video__video">
    </video>

    <div class="container container-two">
        <div class="row justify-content-center">
        <div class="col-lg-8">
                <div class="banner-video__content text-center">
                    <span class="banner-video__subtitle bg-gray-800 text-uppercase font-14  text-white">FinTech Fusion</span>
                    <h1 class="banner-video__title  text-white">Land Organization find your fantasy house with us</h1>
                    <p class="banner-video__desc font-18 text-white">Unlock the Power of Real Estate Making Your Real Estate Dreams a Reality Real Estate here Unlock the Power of Real Estate</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== Banner Section End ============================ -->
    <!-- ======================== About Section Start ========================== -->
<section class="about padding-y-120">
    <div class="container container-two">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6">
                <div class="about-thumb">
                    <img src="assets/images/thumbs/about-img.png" alt="">
                    <div class="client-statistics flx-align">
                        <span class="client-statistics__icon">
                            <i class="fas fa-users text-gradient"></i>
                        </span>
                        <div class="client-statistics__content">
                            <h5 class="client-statistics__number statisticsCounter">4,000+</h5>
                            <span class="client-statistics__text fs-18">Satisfied Clients</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-heading style-left">
                        <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">About Us</span> </span>
                        <h2 class="section-heading__title">Stay with us feel at home Your perfect stay awaits</h2>
                        <p class="section-heading__desc">Real Estate is a vast industry that deals with the buying, selling, and renting of properties. It inv transactions related to residential</p>
                    </div>
                    <div class="about-box d-flex">
                        <div class="about-box__icon">
                            <img src="assets/images/icons/about-icon.svg" alt="">
                        </div>
                        <div class="about-box__content">
                            <h6 class="about-box__title">Your Dream Home Awaits</h6>
                            <p class="about-box__desc font-13">Real Estate is a vast industry that deals with the buying, selling, and renting of properties. It inv transactions related to residential, commercial, and industrial properties</p>
                        </div>
                    </div>
                    <div class="about-button">
                        <a href="#" class="btn btn-main">Learn More <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== About Section End ========================== -->
    <!-- ============================ property Start ==================== -->
<section class="property padding-y-120">
    <div class="container container-two">

        <div class="section-heading style-left style-dark flx-between align-items-end gap-3">
            <div class="section-heading__inner">
                <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">Latest property</span> </span>
                <h2 class="section-heading__title">Prestige Propert Management  property for you</h2>
            </div>
            <a href="#" class="btn btn-main">View More <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
        </div>

        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
    <div class="property-item">
        <div class="property-item__thumb">
            <a href="property-details.html" class="link">
                <img src="assets/images/thumbs/property-1.png" alt="" class="cover-img">
            </a> 
            <span class="property-item__badge">Sale</span>
        </div>
        <div class="property-item__content">
            <h6 class="property-item__price">$500.00 <span class="day">/per day</span> </h6>
            <h6 class="property-item__title"> <a href="property-details.html" class="link">Paramount Investments Prestige Property Management </a> </h6>
            <p class="property-item__location d-flex gap-2"> <span class="icon"> <i class="fas fa-map-marker-alt"></i></span> 66 Broklyant, New York America</p>
            <div class="property-item__bottom flx-between gap-2">
                <ul class="amenities-list flx-align">
                    <li class="amenities-list__item flx-align">
                        <span class="icon"><i class="fas fa-bed"></i></span>
                        <span class="text">3 Beds</span>
                    </li>
                    <li class="amenities-list__item flx-align">
                        <span class="icon"><i class="fas fa-bath"></i></span>
                        <span class="text">3 Baths</span>
                    </li>
                </ul>
                <a href="#" class="simple-btn">Book Now <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
            </div>
        </div>
    </div>
</div>
            <div class="col-lg-4 col-sm-6">
    <div class="property-item">
        <div class="property-item__thumb">
            <a href="property-details.html" class="link">
                <img src="assets/images/thumbs/property-2.png" alt="" class="cover-img">
            </a> 
            <span class="property-item__badge">Sale</span>
        </div>
        <div class="property-item__content">
            <h6 class="property-item__price">$500.00 <span class="day">/per day</span> </h6>
            <h6 class="property-item__title"> <a href="property-details.html" class="link">Paramount Investments Prestige Property Management </a> </h6>
            <p class="property-item__location d-flex gap-2"> <span class="icon"> <i class="fas fa-map-marker-alt"></i></span> 66 Broklyant, New York America</p>
            <div class="property-item__bottom flx-between gap-2">
                <ul class="amenities-list flx-align">
                    <li class="amenities-list__item flx-align">
                        <span class="icon"><i class="fas fa-bed"></i></span>
                        <span class="text">3 Beds</span>
                    </li>
                    <li class="amenities-list__item flx-align">
                        <span class="icon"><i class="fas fa-bath"></i></span>
                        <span class="text">3 Baths</span>
                    </li>
                </ul>
                <a href="#" class="simple-btn">Book Now <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
            </div>
        </div>
    </div>
</div>
            <div class="col-lg-4 col-sm-6">
    <div class="property-item">
        <div class="property-item__thumb">
            <a href="property-details.html" class="link">
                <img src="assets/images/thumbs/property-3.png" alt="" class="cover-img">
            </a> 
            <span class="property-item__badge">Sale</span>
        </div>
        <div class="property-item__content">
            <h6 class="property-item__price">$500.00 <span class="day">/per day</span> </h6>
            <h6 class="property-item__title"> <a href="property-details.html" class="link">Paramount Investments Prestige Property Management </a> </h6>
            <p class="property-item__location d-flex gap-2"> <span class="icon"> <i class="fas fa-map-marker-alt"></i></span> 66 Broklyant, New York America</p>
            <div class="property-item__bottom flx-between gap-2">
                <ul class="amenities-list flx-align">
                    <li class="amenities-list__item flx-align">
                        <span class="icon"><i class="fas fa-bed"></i></span>
                        <span class="text">3 Beds</span>
                    </li>
                    <li class="amenities-list__item flx-align">
                        <span class="icon"><i class="fas fa-bath"></i></span>
                        <span class="text">3 Baths</span>
                    </li>
                </ul>
                <a href="#" class="simple-btn">Book Now <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
            </div>
        </div>
    </div>
</div>
            <div class="col-lg-4 col-sm-6">
    <div class="property-item">
        <div class="property-item__thumb">
            <a href="property-details.html" class="link">
                <img src="assets/images/thumbs/property-4.png" alt="" class="cover-img">
            </a> 
            <span class="property-item__badge">Sale</span>
        </div>
        <div class="property-item__content">
            <h6 class="property-item__price">$500.00 <span class="day">/per day</span> </h6>
            <h6 class="property-item__title"> <a href="property-details.html" class="link">Paramount Investments Prestige Property Management </a> </h6>
            <p class="property-item__location d-flex gap-2"> <span class="icon"> <i class="fas fa-map-marker-alt"></i></span> 66 Broklyant, New York America</p>
            <div class="property-item__bottom flx-between gap-2">
                <ul class="amenities-list flx-align">
                    <li class="amenities-list__item flx-align">
                        <span class="icon"><i class="fas fa-bed"></i></span>
                        <span class="text">3 Beds</span>
                    </li>
                    <li class="amenities-list__item flx-align">
                        <span class="icon"><i class="fas fa-bath"></i></span>
                        <span class="text">3 Baths</span>
                    </li>
                </ul>
                <a href="#" class="simple-btn">Book Now <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
            </div>
        </div>
    </div>
</div>
            <div class="col-lg-4 col-sm-6">
    <div class="property-item">
        <div class="property-item__thumb">
            <a href="property-details.html" class="link">
                <img src="assets/images/thumbs/property-5.png" alt="" class="cover-img">
            </a> 
            <span class="property-item__badge">Sale</span>
        </div>
        <div class="property-item__content">
            <h6 class="property-item__price">$500.00 <span class="day">/per day</span> </h6>
            <h6 class="property-item__title"> <a href="property-details.html" class="link">Paramount Investments Prestige Property Management </a> </h6>
            <p class="property-item__location d-flex gap-2"> <span class="icon"> <i class="fas fa-map-marker-alt"></i></span> 66 Broklyant, New York America</p>
            <div class="property-item__bottom flx-between gap-2">
                <ul class="amenities-list flx-align">
                    <li class="amenities-list__item flx-align">
                        <span class="icon"><i class="fas fa-bed"></i></span>
                        <span class="text">3 Beds</span>
                    </li>
                    <li class="amenities-list__item flx-align">
                        <span class="icon"><i class="fas fa-bath"></i></span>
                        <span class="text">3 Baths</span>
                    </li>
                </ul>
                <a href="#" class="simple-btn">Book Now <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
            </div>
        </div>
    </div>
</div>
            <div class="col-lg-4 col-sm-6">
    <div class="property-item">
        <div class="property-item__thumb">
            <a href="property-details.html" class="link">
                <img src="assets/images/thumbs/property-6.png" alt="" class="cover-img">
            </a> 
            <span class="property-item__badge">Sale</span>
        </div>
        <div class="property-item__content">
            <h6 class="property-item__price">$500.00 <span class="day">/per day</span> </h6>
            <h6 class="property-item__title"> <a href="property-details.html" class="link">Paramount Investments Prestige Property Management </a> </h6>
            <p class="property-item__location d-flex gap-2"> <span class="icon"> <i class="fas fa-map-marker-alt"></i></span> 66 Broklyant, New York America</p>
            <div class="property-item__bottom flx-between gap-2">
                <ul class="amenities-list flx-align">
                    <li class="amenities-list__item flx-align">
                        <span class="icon"><i class="fas fa-bed"></i></span>
                        <span class="text">3 Beds</span>
                    </li>
                    <li class="amenities-list__item flx-align">
                        <span class="icon"><i class="fas fa-bath"></i></span>
                        <span class="text">3 Baths</span>
                    </li>
                </ul>
                <a href="#" class="simple-btn">Book Now <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
            </div>
        </div>
    </div>
</div>
        </div>
        <div class="text-center property__btn">
            <a href="#" class="btn btn-main"> Sell All Listing <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
        </div>
    </div>
</section>
<!-- ============================ property End ==================== -->
    <!-- =========================== Counter Five Start ================================ -->
<section class="counter-five padding-y-120">
    <div class="container container-two">
        <div class="counter-five-wrapper">
            <div class="counter-five-item style-two d-flex align-items-center">
                <span class="counter-five-item__icon">
                    <img src="assets/images/icons/counter-five-icon1.svg" alt="">
                </span>
                <div class="counter-five-item__content">
                    <h2 class="counter-five-item__number text-heading">200+</h2>
                    <span class="counter-five-item__text text-body">Team member</span>
                </div>
            </div>
            <div class="counter-five-item style-two d-flex align-items-center">
                <span class="counter-five-item__icon">
                    <img src="assets/images/icons/counter-five-icon2.svg" alt="">
                </span>
                <div class="counter-five-item__content">
                    <h2 class="counter-five-item__number text-heading">20+</h2>
                    <span class="counter-five-item__text text-body">Winning award</span>
                </div>
            </div>
            <div class="counter-five-item style-two d-flex align-items-center">
                <span class="counter-five-item__icon">
                    <img src="assets/images/icons/counter-five-icon3.svg" alt="">
                </span>
                <div class="counter-five-item__content">
                    <h2 class="counter-five-item__number text-heading">10k</h2>
                    <span class="counter-five-item__text text-body">Complete project</span>
                </div>
            </div>
            <div class="counter-five-item style-two d-flex align-items-center">
                <span class="counter-five-item__icon">
                    <img src="assets/images/icons/counter-five-icon4.svg" alt="">
                </span>
                <div class="counter-five-item__content">
                    <h2 class="counter-five-item__number text-heading">90k</h2>
                    <span class="counter-five-item__text text-body">Client review</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Counter Five End ================================ -->


    <!-- ======================== Video popup Section Start =================== -->
<div class="video-popup bg-gray-100">
    <div class="container container-two">
        <div class="video-popup__thumb">
            <img src="assets/images/thumbs/video-popup.png" alt="" class="cover-img">
            <a href="https://www.youtube.com/watch?v=pPl3ZZdTP3g" class="popup-video-link video-popup__button">
                <i class="fas fa-play"></i>
            </a>
        </div>
    </div>
</div>
<!-- ======================== Video popup Section End =================== -->
    <!-- ========================= Portfolio Section Start ==================== -->
<section class="portfolio padding-t-120 padding-b-60">
    <div class="section-heading">
        <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">Latest Portfolio</span> </span>
        <h2 class="section-heading__title">Optimum Homes & Properties Realty Experts</h2>
    </div>
    <div class="portfolio-wrapper">
        <div class="portfolio-item">
    <div class="portfolio-item__thumb">
        <img src="assets/images/thumbs/portfolio1.png" alt="" class="cover-img">
    </div>
    <div class="portfolio-item__content">
        <a href="portfolio-details.html" class="btn btn-icon"> 
            <span class="text-gradient line-height-0">
                <i class="fas fa-arrow-right"></i>
            </span> 
        </a>
        <div class="portfolio-item__inner">
            <h6 class="portfolio-item__title">
                <a href="portfolio-details.html" class="link">Outsourcing business</a>
            </h6>
            <p class="portfolio-item__desc">Real Estate is a vast industry that deals with the buying, selling, and renting of properties</p>
        </div>
    </div>
</div> 
        <div class="portfolio-item">
    <div class="portfolio-item__thumb">
        <img src="assets/images/thumbs/portfolio2.png" alt="" class="cover-img">
    </div>
    <div class="portfolio-item__content">
        <a href="portfolio-details.html" class="btn btn-icon"> 
            <span class="text-gradient line-height-0">
                <i class="fas fa-arrow-right"></i>
            </span> 
        </a>
        <div class="portfolio-item__inner">
            <h6 class="portfolio-item__title">
                <a href="portfolio-details.html" class="link">Outsourcing business</a>
            </h6>
            <p class="portfolio-item__desc">Real Estate is a vast industry that deals with the buying, selling, and renting of properties</p>
        </div>
    </div>
</div> 
        <div class="portfolio-item">
    <div class="portfolio-item__thumb">
        <img src="assets/images/thumbs/portfolio3.png" alt="" class="cover-img">
    </div>
    <div class="portfolio-item__content">
        <a href="portfolio-details.html" class="btn btn-icon"> 
            <span class="text-gradient line-height-0">
                <i class="fas fa-arrow-right"></i>
            </span> 
        </a>
        <div class="portfolio-item__inner">
            <h6 class="portfolio-item__title">
                <a href="portfolio-details.html" class="link">Outsourcing business</a>
            </h6>
            <p class="portfolio-item__desc">Real Estate is a vast industry that deals with the buying, selling, and renting of properties</p>
        </div>
    </div>
</div> 
        <div class="portfolio-item">
    <div class="portfolio-item__thumb">
        <img src="assets/images/thumbs/portfolio4.png" alt="" class="cover-img">
    </div>
    <div class="portfolio-item__content">
        <a href="portfolio-details.html" class="btn btn-icon"> 
            <span class="text-gradient line-height-0">
                <i class="fas fa-arrow-right"></i>
            </span> 
        </a>
        <div class="portfolio-item__inner">
            <h6 class="portfolio-item__title">
                <a href="portfolio-details.html" class="link">Outsourcing business</a>
            </h6>
            <p class="portfolio-item__desc">Real Estate is a vast industry that deals with the buying, selling, and renting of properties</p>
        </div>
    </div>
</div> 
    </div>
</section>
<!-- ========================= Portfolio Section End ==================== -->
    <!-- ==================== Testimonials Section Start ==================== -->
<section class="testimonial padding-y-60">
    <div class="container container-two">
        <div class="section-heading style-left style-flex">
            <div class="section-heading__inner">
                <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">Client Testimonial</span> </span>
                <h2 class="section-heading__title">Optimum Homes & Properties property for you</h2>
            </div>
            <p class="section-heading__desc">Use receiving accounts a number a currencies and get paid like a local Use receivin accounts a number paid the most beautiful think</p>
        </div>
        <div class="testimonial__inner">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="testimonial-box">
                        <div class="testimonial-item">
    <div class="testimonial-item__top flx-between">
        <div class="testimonial-item__info">
            <h6 class="testimonial-item__name">Sakib Fahad</h6>
            <span class="testimonial-item__designation">Content Creator</span>
        </div>
        <img src="assets/images/icons/quote.svg" alt="">
    </div>
    <p class="testimonial-item__desc">Their product exceeded his my routi  expectations. The the quality and attention to detail a the a moutstanding and it has become an essential most a education the a man who can do tant clearly</p>
    <ul class="star-rating flx-align justify-content-end">
        <li class="star-rating__item"><i class="fas fa-star"></i></li>
        <li class="star-rating__item"><i class="fas fa-star"></i></li>
        <li class="star-rating__item"><i class="fas fa-star"></i></li>
        <li class="star-rating__item"><i class="fas fa-star"></i></li>
        <li class="star-rating__item unabled"><i class="fas fa-star"></i></li>
    </ul>
</div>
                        <div class="testimonial-item">
    <div class="testimonial-item__top flx-between">
        <div class="testimonial-item__info">
            <h6 class="testimonial-item__name">John Doe</h6>
            <span class="testimonial-item__designation">Frontend Developer</span>
        </div>
        <img src="assets/images/icons/quote.svg" alt="">
    </div>
    <p class="testimonial-item__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, autem! Consectetur illo tempora sed repudiandae eaque velit expedita, ipsa earum explicabo libero, voluptatibus aliquid odio</p>
    <ul class="star-rating flx-align justify-content-end">
        <li class="star-rating__item"><i class="fas fa-star"></i></li>
        <li class="star-rating__item"><i class="fas fa-star"></i></li>
        <li class="star-rating__item"><i class="fas fa-star"></i></li>
        <li class="star-rating__item"><i class="fas fa-star"></i></li>
        <li class="star-rating__item unabled"><i class="fas fa-star"></i></li>
    </ul>
</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-thumb">
                        <img src="assets/images/thumbs/testimonial-img.png" alt="" class="cover-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Testimonials Section End ==================== -->
    <!-- ==================== Blog Start Here ==================== -->
<section class="blog padding-t-60 padding-b-120">
    <div class="container container-two">
        <div class="section-heading style-left style-flex flx-between align-items-end gap-3">
            <div class="section-heading__inner">
                <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">Latest Product</span> </span>
                <h2 class="section-heading__title">Prestige Propert Management  property for you</h2>
            </div>
            <a href="#" class="btn btn-outline-main">View More <span class="icon-right"> <i class="fas fa-plus"></i> </span> </a>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
    <div class="blog-item">
        <div class="blog-item__thumb">
            <a href="blog-details.html" class="blog-item__thumb-link">
                <img src="assets/images/thumbs/blog1.png" class="cover-img" alt="">
            </a>
        </div>
        <div class="blog-item__inner">
            <span class="blog-item__date"> 09 <span class="text">Mar</span> </span>
            <div class="blog-item__content">
                <ul class="text-list flx-align">
                    <li class="text-list__item font-12"> 
                        <span class="icon"><i class="fas fa-user"></i></span> 
                        <a href="#" class="link">By admin</a>
                    </li>
                    <li class="text-list__item font-12"> 
                        <span class="icon"><i class="fas fa-comments"></i></span>  
                        <a href="#" class="link">Comments (05)</a>
                    </li>
                </ul>
                <h6 class="blog-item__title">
                    <a href="blog-details.html" class="blog-item__title-link border-effect"> Discover Endless Possibilities in Real Estate Live Your Best Life in a New Home </a>
                </h6>
                <a href="#" class="simple-btn text-heading fw-semibold">Book Now 
                    <span class="icon-right text-gradient"> <i class="fas fa-plus"></i> </span>
                 </a>
            </div>
        </div>
    </div>
</div>
            <div class="col-lg-4 col-sm-6">
    <div class="blog-item">
        <div class="blog-item__thumb">
            <a href="blog-details.html" class="blog-item__thumb-link">
                <img src="assets/images/thumbs/blog2.png" class="cover-img" alt="">
            </a>
        </div>
        <div class="blog-item__inner">
            <span class="blog-item__date"> 28 <span class="text">Mar</span> </span>
            <div class="blog-item__content">
                <ul class="text-list flx-align">
                    <li class="text-list__item font-12"> 
                        <span class="icon"><i class="fas fa-user"></i></span> 
                        <a href="#" class="link">By admin</a>
                    </li>
                    <li class="text-list__item font-12"> 
                        <span class="icon"><i class="fas fa-comments"></i></span>  
                        <a href="#" class="link">Comments (05)</a>
                    </li>
                </ul>
                <h6 class="blog-item__title">
                    <a href="blog-details.html" class="blog-item__title-link border-effect"> Turn Your Real Estate Dreams Into Reality Embrace the Real Estate Lifestyle </a>
                </h6>
                <a href="#" class="simple-btn text-heading fw-semibold">Book Now 
                    <span class="icon-right text-gradient"> <i class="fas fa-plus"></i> </span>
                 </a>
            </div>
        </div>
    </div>
</div>
            <div class="col-lg-4 col-sm-6">
    <div class="blog-item">
        <div class="blog-item__thumb">
            <a href="blog-details.html" class="blog-item__thumb-link">
                <img src="assets/images/thumbs/blog3.png" class="cover-img" alt="">
            </a>
        </div>
        <div class="blog-item__inner">
            <span class="blog-item__date"> 16 <span class="text">Mar</span> </span>
            <div class="blog-item__content">
                <ul class="text-list flx-align">
                    <li class="text-list__item font-12"> 
                        <span class="icon"><i class="fas fa-user"></i></span> 
                        <a href="#" class="link">By admin</a>
                    </li>
                    <li class="text-list__item font-12"> 
                        <span class="icon"><i class="fas fa-comments"></i></span>  
                        <a href="#" class="link">Comments (05)</a>
                    </li>
                </ul>
                <h6 class="blog-item__title">
                    <a href="blog-details.html" class="blog-item__title-link border-effect"> Discover Endless Possibilities in Real Estate Live Your Best Life in a New Home </a>
                </h6>
                <a href="#" class="simple-btn text-heading fw-semibold">Book Now 
                    <span class="icon-right text-gradient"> <i class="fas fa-plus"></i> </span>
                 </a>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</section>
<!-- ==================== Blog End Here ==================== -->
{% endblock %}
