{% extends 'base.html.twig' %}

{% block title %}Hello AddListingController!{% endblock %}

{% block body %}

{% include '_partials/_breadcrumb.html.twig'%}
    
    <!-- ====================== Add Listing Start ========================= -->
<section class="listing padding-y-120">
    <div class="container container-two">
        <div class="row gy-4">
            <div class="col-lg-3">
                <div class="listing-sidebar">
                    <ul id="list-scroll" class="sidebar-list d-flex flex-column gap-2">
                        <li class="sidebar-list__item">
                            <a href="#basicInformation" class="sidebar-list__link">Basic Information</a>
                        </li>
                        <li class="sidebar-list__item">
                            <a href="#propertyGallery" class="sidebar-list__link">Property Gallery</a>
                        </li>
                        <li class="sidebar-list__item">
                            <a href="#propertyInformation" class="sidebar-list__link">Property Information</a>
                        </li>
                        <li class="sidebar-list__item">
                            <a href="#propertyContactDetails" class="sidebar-list__link">Property Contact Details                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 ps-lg-5">
                <div data-bs-spy="scroll" data-bs-target="#list-scroll" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                    <form action="#" enctype="multipart/form-data">
                        <div class="card-item" id="basicInformation">
                            <div class="card common-card">
                                <div class="card-header">
                                    <h6 class="title mb-0">Property Basic Information</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row gy-4">
                                        <div class="col-sm-12">
                                            <label for="propertyTitle" class="form-label">Property Title</label>
                                            <input type="text" class="common-input" id="propertyTitle" placeholder="Property Title">
                                        </div>
                                        <div class="col-12">
                                            <label for="Description" class="form-label">Description</label>
                                            <textarea class="common-input" id="Description" placeholder="Your Message"></textarea>
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <label for="Status" class="form-label">Status</label>
                                            <div class="select-has-icon icon-black">
                                                <select class="select common-input" id="Status">
                                                    <option value="1" disabled="">Status</option>
                                                    <option value="1">For Rent</option>
                                                    <option value="1">For Sell</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <label for="Type" class="form-label">Status</label>
                                            <div class="select-has-icon icon-black">
                                                <select class="select common-input" id="Type">
                                                    <option value="1" disabled=""> Type</option>
                                                    <option value="1">Apartment</option>
                                                    <option value="1">House</option>
                                                    <option value="1">Land</option>
                                                    <option value="1">Single Family</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <label for="Price" class="form-label">Price</label>
                                            <input type="number" class="common-input" id="Price" placeholder="USD">
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <label for="Area" class="form-label">Area</label>
                                            <input type="number" class="common-input" id="Area" placeholder="Sq Ft">
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="Rooms" class="form-label">Rooms</label>
                                            <div class="select-has-icon icon-black">
                                                <select class="select common-input" id="Rooms">
                                                    <option value="1" disabled=""> Rooms</option>
                                                    <option value="1">Apartment</option>
                                                    <option value="1">House</option>
                                                    <option value="1">Land</option>
                                                    <option value="1">Single Family</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-item" id="propertyGallery">
                            <div class="card common-card">
                                <div class="card-header">
                                    <h6 class="title mb-0">Property Gallery</h6>
                                </div>
                                <div class="card-body">
                                    <div class="input-images"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-item" id="propertyInformation">
                            <div class="card common-card">
                                <div class="card-header">
                                    <h6 class="title mb-0">Details Information</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row gy-4">
                                        <div class="col-xl-3 col-sm-6 col-xs-6">
                                            <label for="PropertyId" class="form-label">Property Id</label>
                                            <input type="text" class="common-input" id="PropertyId" placeholder="Property Id">
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-xs-6">
                                            <label for="AreaSize" class="form-label">Area Size</label>
                                            <input type="text" class="common-input" id="AreaSize" placeholder="Area Size">
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-xs-6">
                                            <label for="SizePrefix" class="form-label">Size Prefix</label>
                                            <input type="text" class="common-input" id="SizePrefix" placeholder="Size Prefix">
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-xs-6">
                                            <label for="LandArea" class="form-label">Land Area</label>
                                            <input type="text" class="common-input" id="LandArea" placeholder="Land Area">
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-xs-6">
                                            <label for="Bedrooms" class="form-label">Bedrooms</label>
                                            <input type="text" class="common-input" id="Bedrooms" placeholder="Bedrooms">
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-xs-6">
                                            <label for="Bathrooms" class="form-label">Bathrooms</label>
                                            <input type="text" class="common-input" id="Bathrooms" placeholder="Bathrooms">
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-xs-6">
                                            <label for="Garages" class="form-label">Garages</label>
                                            <input type="text" class="common-input" id="Garages" placeholder="Garages">
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-xs-6">
                                            <label for="YearBuild" class="form-label">Year Build</label>
                                            <input type="text" class="common-input" id="YearBuild" placeholder="Year Build">
                                        </div>
                                        <div class="col-12">
                                            <h6 class="checkboxes__title mt-4 fw-500 font-18">Amenities</h6>
                                            <div class="row gy-3 checkboxes">
                                                <div class="col-md-4 col-sm-6 col-xs-6">
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="airCondition">
                                                        <label class="form-check-label" for="airCondition"> Air Condition </label>
                                                    </div>
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="Lawn">
                                                        <label class="form-check-label" for="Lawn"> Lawn </label>
                                                    </div>
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="SwimmingPool">
                                                        <label class="form-check-label" for="SwimmingPool"> Swimming Pool </label>
                                                    </div>
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="Barbeque">
                                                        <label class="form-check-label" for="Barbeque"> Barbeque </label>
                                                    </div>
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="Microwave">
                                                        <label class="form-check-label" for="Microwave"> Microwave </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-xs-6">
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="TVCable">
                                                        <label class="form-check-label" for="TVCable"> TV Cable </label>
                                                    </div>
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="Dryer">
                                                        <label class="form-check-label" for="Dryer"> Dryer </label>
                                                    </div>
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="OutdoorShower">
                                                        <label class="form-check-label" for="OutdoorShower"> Outdoor Shower </label>
                                                    </div>
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="Washer">
                                                        <label class="form-check-label" for="Washer"> Washer </label>
                                                    </div>
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="Gym">
                                                        <label class="form-check-label" for="Gym"> Gym </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-xs-6">
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="Refrigerator">
                                                        <label class="form-check-label" for="Refrigerator"> Refrigerator </label>
                                                    </div>
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="WiFi">
                                                        <label class="form-check-label" for="WiFi"> WiFi </label>
                                                    </div>
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="Laundry">
                                                        <label class="form-check-label" for="Laundry"> Laundry </label>
                                                    </div>
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="Souna">
                                                        <label class="form-check-label" for="Souna"> Souna </label>
                                                    </div>
                                                    <div class="common-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="WindowCoverings">
                                                        <label class="form-check-label" for="WindowCoverings"> Window Coverings </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-item" id="propertyContactDetails">
                            <div class="card common-card">
                                <div class="card-header">
                                    <h6 class="title mb-0">Property Contact Details</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row gy-4">
                                        <div class="col-md-4 col-sm-6 col-xs-6">
                                            <label for="Name" class="form-label">Your Name</label>
                                            <input type="text" id="Name" class="common-input" placeholder="Your Name">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-6">
                                            <label for="Email" class="form-label">Your E-mail</label>
                                            <input type="email" id="Email" class="common-input" placeholder="Your E-Mail">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-6">
                                            <label for="Phone" class="form-label">Phone Number</label>
                                            <input type="tel" id="Phone" class="common-input" placeholder="Phone Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-main w-100">Submit Property</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== Add Listing End ========================= -->
{% include '_partials/_newsletter.html.twig'%}

{% endblock %}
