{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}
{% include '_partials/_breadcrumb.html.twig'%}
 <!-- ===================== Checkout Section Start ============================ -->
<section class="checkout padding-y-120">
    <div class="container container-two">
        <form action="#">
            <div class="row gy-4">
                <div class="col-lg-8 pe-lg-5">
                    <div class="card common-card">
                        <div class="card-body">
                            <h6 class="title mb-4">Shipping Address</h6>
                            <div class="row gy-4">
                                <div class="col-sm-6 col-xs-6">
                                    <label for="FirstName" class="form-label">First Name</label>
                                    <input type="text" class="common-input" id="FirstName" placeholder="First Name">
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label for="LastName" class="form-label">Last Name</label>
                                    <input type="text" class="common-input" id="LastName" placeholder="Last Name">
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label for="EmailAddress" class="form-label">Email Address</label>
                                    <input type="email" class="common-input" id="EmailAddress" placeholder="Email Address">
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label for="PhoneNumber" class="form-label">Phone Number</label>
                                    <input type="tel" class="common-input" id="PhoneNumber" placeholder="Phone Number">
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label for="Address" class="form-label">Address</label>
                                    <input type="text" class="common-input" id="Address" placeholder="Address">
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label for="Country" class="form-label">Country</label>
                                    <div class="select-has-icon icon-black">
                                        <select class="select common-input" id="Country">
                                            <option value="1" disabled> Country</option>
                                            <option value="1">Australia</option>
                                            <option value="1">Canada</option>
                                            <option value="1">Europe</option>
                                            <option value="1">Bangladesh</option>
                                            <option value="1">India</option>
                                            <option value="1">Pakistan</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label for="City" class="form-label">City</label>
                                    <input type="text" class="common-input" id="City" placeholder="City">
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label for="State" class="form-label">State</label>
                                    <input type="text" class="common-input" id="State" placeholder="State">
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label for="Region" class="form-label">Region</label>
                                    <input type="text" class="common-input" id="Region" placeholder="Region">
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label for="ZipCode" class="form-label">ZipCode</label>
                                    <input type="text" class="common-input" id="ZipCode" placeholder="ZipCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card common-card mb-4">
                        <div class="card-body">
                            <h6 class="title mb-4">Payment Method</h6>
                            <div class="d-flex flex-column gap-3">
                                <div class="payment-method">
                                    <div class="common-radio">
                                        <input class="form-check-input" type="radio" name="payment" id="DebitCard">
                                        <label class="form-check-label" for="DebitCard">
                                            Debit card / Credit card
                                            <img src="assets/images/thumbs/paypal.png" alt="">
                                        </label>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="common-radio">
                                        <input class="form-check-input" type="radio" name="payment" id="payPal">
                                        <label class="form-check-label" for="payPal">
                                            Paypal
                                            <img src="assets/images/thumbs/visa.png" alt="">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card common-card">
                        <div class="card-body">
                            <h6 class="title mb-4">Cart Totals</h6>
                            <ul class="billing-list">
                                <li class="billing-list__item flx-between">
                                    <span class="text text-poppins font-15">3 Rooms Manhattan × 2</span>
                                    <span class="amount fw-semibold text-heading text-poppins">$321.95</span>
                                </li>
                                <li class="billing-list__item flx-between">
                                    <span class="text text-poppins font-15">OE Replica Wheels × 2</span>
                                    <span class="amount fw-semibold text-heading text-poppins"> $185.00 </span>
                                </li>
                                <li class="billing-list__item flx-between">
                                    <span class="text text-poppins font-15">Wheel Bearing Retainer × 2</span>
                                    <span class="amount fw-semibold text-heading text-poppins"> $130.00</span>
                                </li>
                                <li class="billing-list__item flx-between">
                                    <span class="text text-poppins font-15">Shipping and Handing</span>
                                    <span class="amount fw-semibold text-heading text-poppins"> $15.00</span>
                                </li>
                                <li class="billing-list__item flx-between">
                                    <span class="text text-poppins font-15">Vat</span>
                                    <span class="amount fw-semibold text-heading text-poppins"> $10.00</span>
                                </li>
                                <li class="billing-list__item flx-between">
                                    <span class="text text-poppins fw-semibold text-heading">Order Total</span>
                                    <span class="amount fw-semibold text-heading text-poppins"> $661.95</span>
                                </li>
                            </ul>
                            <button type="submit" class="btn btn-main w-100 mt-4">Pay Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- ===================== Checkout Section End ============================ -->
{% include '_partials/_newsletter.html.twig'%}
{% endblock %}
